.navbar {
  width: 100%;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.4) 50%);
  transition: all 0.5s;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0px 50px;
    height: 80px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
      }      
      span {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
        .icon {
          margin: 0px 15px;
          cursor: pointer;
        }
        img {
          height: 50px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }

        .profile {
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }

          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
    }
  }
}