.navbar {
  width: 100%;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 9997;
  background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.7) 50%);
  transition: all 0.5s;

  &.scrolled {
    background-color: var(--main-color);

    span {
      color: var(--main-gray);
      
      &:hover {
        color: #fff;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0px 50px;
    height: 80px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 70px;
        margin-right: 40px;
        cursor: pointer;
      }      
      .snsWrapper {
        display: flex;

        a {
          color: #fff;
          font-size: 20px;
          margin-right: 20px;
          text-decoration: none;
          display: flex;
          align-items: center;

          img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
          }
        }
      }
  
    }

    .right {
      display: flex;
      align-items: center;
        .icon {
          margin: 0px 15px;
          cursor: pointer;
        }
        img {
          height: 50px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }

        .notice {
          .icon {
            color: var( --main-red);
          }
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }
          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
              right: 70px;
              top: 70px;
              font-size: 20px;
            }
          }
        }


        .profile {
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }

          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
              right: 5px;
              top: 70px;
              font-size: 20px;
            }
          }
        }
    }
  }
}

@media (max-width:680px) {
  .navbar {
    .container {
      padding-left: 20px;
      .left {
        img {
          height: 50px;
        }
        .snsWrapper {
          position: absolute;
          right: 0;
          
          a {
            img {
              width: 30px;
              height: 30px;
            }
            div {
              display: none;
            }
        
          }
        }
        span {
           display: none;
        }
      }
      .right {
        span {
          display: none;
        }
        .notice {
          display: none;
        }
        .profile {
          display: none;
        }
        img {
          display: none;
        }
        .icon {
          display: none;
        }
      }
    }

    }
}