.navbar {
  width: 100%;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.7) 50%);
  transition: all 0.5s;

  &.scrolled {
    background-color: var(--main-color);

    span {
      color: var(--main-gray);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0px 50px;
    height: 80px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 70px;
        margin-right: 40px;
        cursor: pointer;
      }      
      span {
        margin-right: 20px;
        transition: all 0.4s;
      }
    }

    .right {
      display: flex;
      align-items: center;
        .icon {
          margin: 0px 15px;
          cursor: pointer;
        }
        img {
          height: 50px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }

        .notice {
          .icon {
            color: var( --main-red);
          }
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }
          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
              right: 70px;
              top: 70px;
              font-size: 20px;
            }
          }
        }


        .profile {
          .options {
            display: none;
            background-color: var(--main-color);
            border-radius: 5px;
          }

          span {
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
              right: 5px;
              top: 70px;
              font-size: 20px;
            }
          }
        }
    }
  }
}

@media (max-width:380px) {
  .navbar {

    .left {
      span {
         display: none;
      }
    }
    .right {
      .notice {
        display: none;
      }
      .profile {
        display: none;
      }
      img {
        display: none;
      }
      .icon {
        display: none;
      }
    }
  }
}