

@keyframes focusIn {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.featured {
  height: 80vh;
  position: relative;

  .myName {
    
    &::before {
      content: "OH KUK HWA";
      display: block;
      font-family: 'Black Han Sans', sans-serif;
      color: #fff;
      position: absolute;
      font-size: 150px;
      text-shadow: 3px 4px 2px rgb(0,0,0,0.7);
      top: 20%;
      left: 5%;
      z-index: 999;
      transition: all 0.5s;
    }
    &:hover::before {
      opacity: 0;
    }
    &::after {
      opacity: 0;
      content: "오 국 화";
      display: block;
      font-family: 'Black Han Sans', sans-serif;
      color: #fff;
      position: absolute;
      text-shadow: 3px 4px 2px rgb(0,0,0,0.7);
      z-index: 999;
      font-size: 150px;
      top: 20%;
      left: 5%;
      transition: all 0.3s;
    }
    &:hover::after {
      opacity: 1;
      animation: focusIn 0.5s ease-in both;
    }
  } 


  .yearWrap {
    position: absolute;
    width: 180px;
    height: 70px;
    right: 0;
    top: 80%;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.681);

    .year {
      box-sizing: border-box;
      height: 60px;
      font-size: 45px;
      font-weight: 700;
      line-height: 60px;
      color: #fff;
      display: inline-block;
      border-radius: 10px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: var( --main-red);
      
    }
  }


  img {
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
    height: 100%;
    // position: absolute;
  
   
  }


  .infoWrap {
    position: relative;
    display: contents;
    transition: all 0.3s;
    


    .info {
      // width: 30%;
      position: absolute;
      padding: 20px;
      border-radius: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      bottom: 10%;
      left: 5%;
      text-shadow: 2px 3px 3px rgb(0,0,0,0.7);
      box-sizing: border-box;
      transition: all 0.3s;
   
      .title {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: 'Black Han Sans', sans-serif;
      }
  
      .desc {
        margin-top: 30px;
        font-size: 18px;
        line-height: 30px;
        div {
          color: var(--main-green);
          font-size: 25px;
          margin-bottom: 10px;
        }

        .dot {
          font-size: small;
        }
      }

      .buttons {
        margin-top: 10px;
        display: flex;
  
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.5s;
          box-sizing: border-box;
          
          
          &.more{
            background-color: gray;
            color: #fff;
            animation: shine 1s linear infinite alternate;
            &:hover {
              background-color: rgba(0, 0, 0, 0.781);
              color: #fff;
            }
          }
          
          span {
            margin-left: 5px;
          }
        }
        .download {
          text-shadow: none;
          border-radius: 5px;
          display: flex;
          background-color: rgb(49, 49, 49);
          color: var(--main-color);
          color: inherit;
          text-decoration-line: none;
          justify-content: center;
          align-items: center;
          padding-right: 10px;
          font-size: 18px;

          &:hover {
            background-color: gray;
            color: #fff;
          }
        
        }
      }
    }
  }

}

@media (max-width: 1100px ) {
  .featured {
    height: 1000px;

    .slider {
      height: 100%;
    }

    .myName::before {
      width: 100%;
      font-size: 80px;
      top: 15%;
    }
    .myName::after {
      width: 100%;
      font-size: 80px;
      top: 15%;
    }
    .infoWrap {
      .info {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 20px;
        left: 20px;

        .title {
          margin: 0;
        }

        .desc {
          line-height: 35px;
          padding-top: 0px;
        }

        .buttons{
          .more {
            display: none;
          }
          .download {
            padding: 15px;
            background-color: gray;
            transition: all 0.3s;

            &:hover {
            background-color: var(--main-color);
            }
          }
        }
      }
    }

    .yearWrap {
      width: 100px;
      border-radius: 5px;
    }
  }
}


@media (max-width: 680px ) {
  .featured {
    .yearWrap {
     display: none;
    }
  }
}