.home {
  background-color: var(--main-color);
  overflow: hidden;
  z-index: -10;
  
  .moveTop {
    opacity: 0.7;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    z-index: 999;
    background-color: black;
    border-radius: 100%;
    padding: 10px;
    transition: all 0.3s;
    
    &:hover {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      filter: invert(86%) sepia(99%) saturate(2%) hue-rotate(183deg) brightness(109%) contrast(97%);
    }
  }
  
}


@media  ( hover: none) ,(max-width: 680px ) {
  .home {
    .moveTop {
      width: 35px;
      height: 35px;
    }
  }

}