.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 9998;
  transition: all 0.3s;

}
.ModalListItem {
  position: fixed;
  width: 1000px;
  height: 900px;
  background-color: var(--main-color);
  margin-right: 20px;
  transition: all 0.4s;
  color: #fff;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
  transition: all 0.3s;

  .itemWrap {
    .testWrap {
      overflow: hidden;
      transition: all 0.3s;
      border-radius: 5px;
      position: relative;

      .closeModal {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        margin: 10px 10px 0 0;
        z-index: 99;
        opacity: 0.7; 
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }  
      }
    }
   
    .imgWrap {
      width: 100%;
      position: relative;
      transition: all 0.3s;
      cursor: pointer;
      border-radius: 5px;

      .title {
        text-align: center;
        font-size: 50px;
        text-shadow: 2px 2px 2px rgb(49, 49, 49);
        left: 10px;
        font-family: 'Black Han Sans', sans-serif;
        transition: all 0.3s;
        margin: 20px 0 10px 0;

     }
    }
    
    .imgShow {
      width: 100%;
      height: 650px;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  .itemInfo {
    height: 240px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--main-color);
    // box-sizing: border-box;
    justify-content: center;

    .icons {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(167, 167, 167, 0.616);
      width: 550px;
      margin: 0 auto;

      button {
        display: flex;
        align-items: center;
        color: #fff;
        margin-right: 20px;
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        cursor: pointer;
        border: none;

        .icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;

       }
      }  
    }

    .infoWrap{
      display: flex;
      align-items: center;
      font-size: 12px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;


      .dot {
        font-size: small;
        color: gray;
      }

      .infoTime {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
        text-align: center;
        
        .infoTimeNotice{
          border: 1px solid  #46d369;;
          border-radius: 4px;
          padding: 5px;
          color:  #46d369;;
          margin-left: 10px;

        }
      }

      div {
        padding: 5px;
      }
      .infoDecsWrap{
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        padding-bottom: 15px;
      }
    }
  }
}

@media (max-width: 680px ) {

  .listItem {
    .itemWrap {
      .testWrap {
      }
      &:hover {
        .testWrap {
          width: 550px;
          height: 550px;
          box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
          top: -80px;
          z-index: 999;
          border-radius: 10px;
          
          .imgShow {
            height: 300px;
            border-top-left-radius: 5px ;
            border-top-right-radius: 5px ;
          }
        }
     }
    }
    .itemInfo {
      .infoWrap {
        .infoDecsWrap {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            align-items: center;
            padding: 3px;
          }
        }
      }
    }
  }
}

@media(max-width:380px) {
  .listItem {
    width: 330px;
    height: 300px;
      
  .itemWrap {
    position: relative;
    .testWrap {
      position: absolute;
      top: 0;
      width: 330px;
      transition: all 0.3s;
      border-radius: 5px;

      .imgWrap {
        height: 220px;
        overflow: hidden;

        .imgShow {
          height: 100%;
        }
      }
    }
  }
 }
}