.eduListItem {
  width: 500px;
  height: 300px;
  background-color: var(--main-color);
  margin-right: 20px;
  transition: all 0.4s;
  color: #fff;
  
  .itemWrap {
    position: relative;
    
    .testWrap {
      position: absolute;
      top: 0;
      width: 500px;
      height: 250px;
      transition: all 0.3s;
      overflow: hidden;
      border-radius: 5px;
    }
    
    &:hover {
      .backColor {
        opacity: 0.9;
      }

      .testWrap {
        width: 800px;
        height: 400px;
        box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
        top: -80px;
        z-index: 999;
        border-radius: 10px;
        border: 1px solid black;
        
        .textWrap {
          opacity: 1;
          .decs {
            line-height: 60px;
            text-align: center;
            
            div {
              font-size: 30px;
              text-shadow: 2px 3px 3px black;
            }
            .edu {
              font-weight: 500;
            }
  
            .date {
              font-size: 20px;
            }
          }
          
        }
        img {
          height: 400px;
          border-top-left-radius: 5px ;
          border-top-right-radius: 5px ;
        }
      }
      .title {
        opacity: 0;
      }
    }

    .imgWrap {
      width: 100%;
      height: 100%;
      position: relative;
      transition: all 0.3s;
      
      .title {
        width: 100%;
        position: absolute;
        bottom: 10%;
        font-size: 30px;
        text-shadow: 2px 2px 2px rgb(49, 49, 49);
        text-align: center;
        font-family: 'Black Han Sans', sans-serif;
        transition: all 0.4s;

     }
      .textWrap {
        opacity: 0;
        transition: all 0.4s;

        .decs {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 20px;
          color: #fff;
        }

      }

    }
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }

    .backColor {
      opacity: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      transition: all 0.4s;
    }
  }


  .itemInfo {
    transition: all 0.3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--main-color);
    box-sizing: border-box;
    // transform: translateY(-163px);


    .icons {
      display: flex;
      margin-bottom: 10px;

      button {
        display: flex;
        align-items: center;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;

        .icon {
        width: 40px;
        height: 40px;
       }
      }  
    }

    .infoWrap{
      display: flex;
      align-items: center;
      font-size: 12px;
      padding-bottom: 10px;
      flex-wrap: wrap;

      .dot {
        font-size: small;
        color: gray;
      }

      .infoTime {
        width: 100%;
        margin-bottom: 10px;
        .infoTimeNotice{
          border: 1px solid  #46d369;;
          border-radius: 4px;
          padding: 5px;
          margin-left: 10px;
          color:  #46d369;;
        }
      }

      div {
        padding: 5px;
      }

    }

  }

}
@media (max-width: 1000px ) {

  .eduListItem {
    .itemWrap {
        .testWrap {
          width: 500px;
          box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
          // top: -80px;
          -webkit-tap-highlight-color:transparent;
          
          .imgShow {
            height: 300px;
            border-top-left-radius: 5px ;
            border-top-right-radius: 5px ;
          }
        }
        &:hover {
          .testWrap {
            width: 600px;
            height: 400px;
          }
        }
    }
    .itemInfo {
      .infoWrap {
        .infoDecsWrap {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            align-items: center;
            padding: 3px;
          }
        }
      }
    }
  }
}



@media (max-width: 640px ) {

      .eduListItem {
        width: 330PX;
        height: 220px;
        overflow: hidden;
        border-radius: 10px;
        margin-left: 20px;
        box-sizing: border-box;
        margin-right: 0;
        
        .itemWrap {
          width: 100%;
          position: relative;

            .testWrap {
              width: 100%;
              height: 250px;
              box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
              // top: -80px;
              margin: 0 auto;
              
              .imgShow {
                width: 100%;
                border-top-left-radius: 5px ;
                border-top-right-radius: 5px ;
              }
            }
            // &:hover {
            //   .testWrap {
            //     width: inherit;
            //     height: inherit;
            //   }
            // }
            .imgWrap {
              .title {
                font-size: 18px;
                bottom: 18%;
              }
            }
        }
        .itemInfo {
          .infoWrap {
            .infoDecsWrap {
              display: flex;
              flex-direction: column;
    
              div {
                display: flex;
                align-items: center;
                padding: 3px;
              }
            }
          }
        }
      }

}

