.listItem {
  width: 500px;
  height: 300px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  transition: all 0.4s;
  color: #fff;
  
  
  .itemWrap {
    position: relative;
    transition: all 0.3s;
    
    &:hover {
      width: 800px;
      height: 400px;
      box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
      transition: all 0.3s;
      top: -80px;
      position: absolute;
      z-index: 999;
      
      
      img {
        height: 300px;
        border-top-left-radius: 5px ;
        border-top-right-radius: 5px ;
      }
    }

    .imgWrap {
      position: relative;
      transition: all 0.3s;


      .title {
        position: absolute;
        bottom: 30%;
        font-size: 30px;
        text-shadow: 2px 2px 2px rgb(49, 49, 49);
        left: 10px;
     }
    }
    
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s;

    }
  }


  .itemInfo {
    transition: all 0.3s;

    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--main-color);
    // transform: translateY(-163px);


    .icons {
      display: flex;
      margin-bottom: 10px;

      button {
        display: flex;
        align-items: center;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;

        .icon {
        width: 40px;
        height: 40px;
       }
      }  
    }

    .infoWrap{
      display: flex;
      align-items: center;
      font-size: 12px;
      padding-bottom: 10px;

      .dot {
        font-size: small;
        color: gray;
      }
      div {
        padding: 5px;
      }

    }

  }

}