
.listItem {
  width: 500px;
  height: 300px;
  background-color: var(--main-color);
  margin-right: 20px;
  transition: all 0.4s;
  color: #fff;
  

  .itemWrap {
    position: relative;
    .testWrap {
      position: absolute;
      top: 0;
      width: 500px;
      height: 300px;
      overflow: hidden;
      transition: all 0.3s;
      border-radius: 5px;

    }
    
    &:hover {
      .testWrap {
        width: 800px;
        height: 500px;
        box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
        top: -80px;
        z-index: 999;
        border-radius: 10px;
        
        .itemInfo {
          border-radius: 10px;
          .infoWrap{
            .infoTime {
              padding-left: 15px;
              padding-top: 10px;
            }
            .infoDecsWrap{
              display: flex;
              
              div{
                display: flex;
                align-items: center;
              }
            }
          }  
        }
        .imgWrap {
          height: 350px;
          .imgShow {
            height: 100%;
            border-top-left-radius: 5px ;
            border-top-right-radius: 5px ;
          }
        }
      }
        .testWrap.modal {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 9999;
          .imgShow {
            height: 600px;
          }
          .title {
            opacity: 0;
          }
      }
    }
   
    .imgWrap {
      position: relative;
      transition: all 0.3s;
      cursor: pointer;
      height: 300px;
      overflow: hidden;
      border-radius: 5px;

      .title {
        position: absolute;
        bottom: 30%;
        font-size: 30px;
        text-shadow: 2px 2px 2px rgb(49, 49, 49);
        left: 10px;
        font-family: 'Black Han Sans', sans-serif;
        transition: all 0.3s;

     }
    }
    
    .imgShow {
      width: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  
  .itemWrap.modal {
    position: relative;
    width: 800px;
    height: 800px;

    .testWrap.modal {
      display: flex;
      flex-direction: column;
      height: auto;

      .imgWrap {
        height: 70%;
        .imgShow {
          height: 100%;
        }
      }
      .itemInfo {
        justify-content: center;
        height: 100%;
      }
    }
   
  }
  .itemInfo {
    transition: all 0.3s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--main-color);
    box-sizing: border-box;

    .icons {
      display: flex;
      margin-bottom: 10px;

      button {
        display: flex;
        align-items: center;
        color: #fff;
        margin-right: 20px;
        cursor: pointer;
        font-size: 18px;

        .icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;

       }
      }  
    }

    .infoWrap{
      display: flex;
      align-items: center;
      font-size: 12px;
      padding-bottom: 10px;
      flex-wrap: wrap;

      .dot {
        font-size: small;
        color: gray;
      }

      .infoTime {
        width: 100%;
        margin-bottom: 10px;
        .infoTimeNotice{
          border: 1px solid  #46d369;;
          border-radius: 4px;
          padding: 5px;
          margin-left: 10px;
          color:  #46d369;;
        }
      }

      div {
        padding: 5px;
      }
    }
  }
}

@media (max-width: 680px ) {

  .listItem {
    .itemWrap {
      .testWrap {
      }
      &:hover {
        .testWrap {
          width: 550px;
          height: 550px;
          box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.78);
          top: -80px;
          z-index: 999;
          border-radius: 10px;
          
          .imgShow {
            height: 300px;
            border-top-left-radius: 5px ;
            border-top-right-radius: 5px ;
          }
        }
     }
    }
    .itemInfo {
      .infoWrap {
        .infoDecsWrap {
          display: flex;
          flex-direction: column;

          div {
            display: flex;
            align-items: center;
            padding: 3px;
          }
        }
      }
    }
  }
}

@media(max-width:380px) {
  .listItem {
    width: 330px;
    height: 300px;
      
  .itemWrap {
    position: relative;
    .testWrap {
      position: absolute;
      top: 0;
      width: 330px;
      transition: all 0.3s;
      border-radius: 5px;

      .imgWrap {
        height: 220px;
        overflow: hidden;

        .imgShow {
          height: 100%;
        }
      }
    }
  }
 }
}