.list {
    width: 100%;
    margin-top: 70px;
    

  .listTitle {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-left: 60px;
  }
  
  .warpper {
    position: relative;
    margin-top: 20px;

    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgb(22,22,22,0.5);
      color: #fff;
      position: absolute;
      z-index: 999;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
        padding-left: 10px;
      }

      &.right {
        right: 0;
      }
    }
    .container {
      position: relative;
      margin-left: 60px;
      display: flex;
      width: max-content;
      margin-top: 10px;
      transform: translateX(0);
      transition: all 0.1s linear;
      font-size: 0;
      &:hover {
        // [NOTE]: 여기 호버할때, z-index 끌어 올려줘서 다른 곳의 List보다 우선순위 높여줌
        z-index: 99;        
      }
    }
  }
}

@media (hover: none) ,(max-width: 680px )  {

  .eduList.list {
    margin-top: 50px;
  }
  .list {
    height: 300px;
    margin-top: 20px;

    .listTitle {
      font-size: 20px;
      margin-left: 25px;
    }

    .warpper {
      height: 250px;
      .sliderArrow {
        width: 25px;
        &.left {
          padding-left: 0px;
          background-color: transparent;
        }
        &.right {
          top: 0;
        }
      }
      .container {
        margin-left: 0;
        // height: 300px;
        height: auto;
        width: 100%;
      }
  }
 }
}